@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Inter Fallback';
}

@layer base {
  :root {
    --primary: #115e56;
    --primary-dark: #134e48;
    --primary-light: #ccfbef;
    --border: #dcdfe4;
    --font: #212636;
    --font-light: #8a94a6;
    --font-dark: #667085;
    --error: #f04438;
    --success: #15b79f;
    --table-header: #f9fafb;
  }
}
